<div class="container py-5 vh-75">
    <h2 class="mb-4 text-center">Shopping Cart</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="cart-items">
                <!-- Cart items will be dynamically added here -->
            </tbody>
        </table>
    </div>
    <div class="text-end">
        <h4>Total: <span id="cart-total">0.00</span>KM</h4>
        <button class="btn btn-success mt-3">Checkout</button>
    </div>
</div>