<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to TechGear</h1>
            <p class="lead fw-normal text-white-50 mb-0">BEST COMPONENTS AND PRICES</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/PredatorX34Monitor.jpg" alt="PredatorX34Monitor" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Predator X34 X5 OLED Gaming Monitor</h5>
                            <!-- Product price-->
                            349KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="1" 
                                data-name="Predator X34 X5 OLED Gaming Monitor" 
                                data-price="349">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/RedragonSpiderChair.jpg" alt="Redragon Gaming Chair" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Redragon Spider Queen C602 Gaming Chair</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">240KM</span>
                            200KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="2" 
                                data-name="Redragon Spider Queen C602 Gaming Chair" 
                                data-price="200">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/Playstation5.jpg" alt="Playstation5" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">SONY Playstation5 1TB Slim</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">1199KM</span>
                            999KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="3" 
                                data-name="SONY Playstation5 1TB Slim" 
                                data-price="999">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/Ps5Gamepad.jpg" alt="PS5Gamepad" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Gamepad SONY Dualsense 5 PS5 Black</h5>
                            <!-- Product price-->
                            159KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="4" 
                                data-name="Gamepad SONY Dualsense 5 PS5 Black" 
                                data-price="159">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/SONYHeadphones.jpg" alt="SONYHeadphones" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">SONY Headphones 2025</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">129KM</span>
                            99KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="5" 
                                data-name="SONY Headphones 2025" 
                                data-price="99">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/ROGDeltaSGamingHeadset.jpg" alt="ROGDeltaSGamingHeadset" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">ROG Delta S Gaming Headset</h5>
                            <!-- Product price-->
                            299KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="6" 
                                data-name="ROG Delta S Gaming Headset" 
                                data-price="299">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/ASUSRogTastatura.jpg" alt="ASUSRogTastatura" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Asus ROG Keyboard</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">359KM</span>
                            299KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="7" 
                                data-name="Asus ROG Keyboard" 
                                data-price="299">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="frontend/assets/RGS-622GamingMouse.jpg" alt="RGS-622GamingMouse" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">RGS-622 Gaming Mouse</h5>
                            <!-- Product price-->
                            79KM
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <button class="btn btn-outline-dark mt-auto add-to-cart" 
                                data-id="8" 
                                data-name="RGS-622 Gaming Mouse" 
                                data-price="79">
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>