<section class="py-5">
    <div class="container d-flex justify-content-center align-items-center vh-75">
        <div class="card p-4 shadow" style="width: 350px;">
            <h2 class="text-center">Login</h2>
            <form id="loginForm">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control input-focus" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control input-focus" id="password" required>
                </div>
                <button type="submit" class="btn btn-dark w-100">Login</button>
                <p id="message" class="mt-2 text-danger text-center"></p>
            </form>
        </div>
    </div>
</section>