<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" id="product-image" src="" alt="Product Image" onerror="this.src='/WebProject/frontend/assets/noImage.png';" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder" id="product-name">Product Name</h1>
                <div class="fs-5 mb-5">
                    <span id="product-price">0.00KM</span>
                </div>
                <p class="lead" id="product-description">Product description will go here.</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0 add-to-cart" id="add-to-cart">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="related-items">
            <!-- Related items will be dynamically inserted here -->
        </div>
    </div>
</section>
<script>
    var app = $.spapp({
        defaultView: "#product",
        templateDir: "frontend/views/"
    });
    app.route({
        view: "product",
        onReady: function() {
            const productId = localStorage.getItem('selectedProductId');
            if (productId) {
                loadProductDetails(productId);
            } else {
                console.error('No product ID found in localStorage.');
            }
        }
    });
</script>
<script src="frontend/js/scripts.js?v=1.0"></script>